<div class="d-flex">
  <h1>My Tasks</h1>
    <% @tasks.each do |task| %>
      <h3><%= link_to task.title, task_path(task.id) %></h3>
      <% if task.completed %>
        <p><i class="fa-solid fa-face-smile"></i></i></p>
      <% else %>
        <p>⬜</p>
      <% end %>
  <% end %>
</div>


<%= link_to "Create a new task!", new_task_path, class:"btn btn-info" %>
